body {
    font-family: 'Castoro', serif;
    background-color: cadetblue;
    color: white;
    margin: auto;
}

header > ul > li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    border-bottom: solid 2px cadetblue;
    transition: border ease-in 0.3s;
    color: white;
}

a:hover {
    border-bottom: solid 2px white;
}

hr {
    color: white;
}

h1 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

#play-button {
    font-family: 'Castoro', serif;
    background-color: cadetblue;
    color: white;
    border: solid 2px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
}

#game {
    margin-left: 20px;
}