body {
    font-family: 'Archivo', sans-serif;
    background-color: #E95822;
    color: black;
    margin: auto;
}

header > ul > li {
    display: inline;
    margin-right: 30px;
}

header > ul {
    padding: 24px;
    margin: 0;
}

a {
    text-decoration: none;
    border-bottom: solid 2px #E95822;
    transition: border ease-in 0.3s;
    color: black;
}

a:hover {
    border-bottom: solid 2px black;
}

header > ul > li > a {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
}

article {
    padding: 0px 100px;
    max-width: 820px;
    margin-top: 84px;

}

#play-button {
    font-family: 'Archivo Black', sans-serif;
    background-color: black;
    text-transform: uppercase;
    color:#E95822;
    padding: 24px 0px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1;
    border-radius: 10px;
    width: 220px;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.play-button {
    font-family: 'Archivo Black', sans-serif;
    background-color: black;
    text-transform: uppercase;
    color:#E95822;
    padding: 24px 0px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1;
    border-radius: 10px;
    width: 220px;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.play-button > a {
    color: #E95822;
    text-decoration: none;
    border: none;
}

.info {
    margin-bottom: 88px;
}

.info > ul {
    line-height: 1.5;
}

#final-result {
    margin-top: 96px;
    margin-bottom: 138px;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Archivo Black', sans-serif;
}

.results {
    text-align: center;
    margin-top: 118px;
}

.choose-weapon {
    text-align: center;
    margin-top: 118px;
}

label {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    margin-right: 30px;
}

label:last-child {
    margin-right: 0;
}
#rock-label:after {
    content: url("Icon-Rock.svg");
    position: absolute;
    transform: scale(50%) translateY(-80%) translateX(-20px);
}
#paper-label:after {
    content: url("Icon-Paper.svg");
    position: absolute;
    transform: scale(50%) translateY(-80%) translateX(-20px);
}

#scissors-label:after {
    content: url("Icon-Scissors.svg");
    position: absolute;
    transform: scale(50%) translateY(-80%) translateX(-20px);
}

input {
    margin-bottom: 15px;
    margin-left: 50px;
}

input:first-child {
    margin-left: 0;
}

.options {
    margin-bottom: 80px;
    margin-top: 80px;
}