{% extends "base.html" %}
{% block content %}
<section class="choose-weapon">
    <h1>Choose your weapon</h1>
    <form action="/solo-play" method="post" id="game">
        <section class="options">
            <input type="radio" id="rock" name="weapon" value="rock">
            <label for="rock" id="rock-label">rock</label>

            <input type="radio" id="paper" name="weapon" value="paper">
            <label for="paper" id="paper-label">paper</label>

            <input type="radio" id="scissors" name="weapon" value="scissors">
            <label for="scissors" id="scissors-label">scissors</label>
        </section>

        <input type="submit" id="play-button" value="Play"> 
    </form>
</section>
{% endblock %}