{% extends "base.html" %}
{% block content %}
    <h1>Fancy your chances against the computer?</h1>
    <form action="/solo-play" method="post">
        <input type="radio" id="rock" name="weapon" value="rock">
        <label for="rock">rock</label><br>

        <input type="radio" id="scissors" name="weapon" value="scissors">
        <label for="scissors">scissors</label><br>

        <input type="radio" id="paper" name="weapon" value="paper">
        <label for="paper">paper</label><br>

        <input type="submit" value="Play!"> 
    </form>
{% endblock %}